footer
  .container
    .footer-logo
      img(src="static/img/general/logo.png", alt="").footer-logo__img
      span.footer-copyright shopy c 2015 . your copy right here
    nav.footer-nav
      ul.footer-nav__list
        li
          a(href="javascript:void(0);", title="title") about us
        li
          a(href="javascript:void(0);", title="title") contact us
        li
          a(href="javascript:void(0);", title="title") support us
      ul.footer-nav__list
        li
          a(href="javascript:void(0);", title="title") our feed
        li
          a(href="javascript:void(0);", title="title") terms and conditions
        li
          a(href="javascript:void(0);", title="title") our privacy
      ul.footer-nav__list
        li
          a(href="javascript:void(0);", title="title") join us
        li
          a(href="javascript:void(0);", title="title") live support
    .footer-pay 
      span Payment Methods
      img(src="static/img/general/pay.png", alt="")