header   
  .header__top
    .container
      .header__contacts
        a(href="mailto:info@shopy.com").header__mail info@shopy.com        
        a(href="tel:9965553453").header__phone 996 - 5553 - 453
      ul.header__social
        li
          a(href="javascript:void(0);").header-social__link
          .header-social__link--fb   
        li
          a(href="javascript:void(0);").header-social__link
          .header-social__link--tw   
        li
          a(href="javascript:void(0);").header-social__link
          .header-social__link--google   
        li
          a(href="javascript:void(0);").header-social__link
          .header-social__link--instagram   
  .header__bottom.clearfix
    .container
      .header__logo
        img(src="static/img/general/logo.png", alt="logo")
      nav.header-nav
        ul.header-nav__list
          li
            a(href="javascript:void(0);").active Home
          li
            a(href="javascript:void(0);") Products
          li
            a(href="javascript:void(0);") Hot Deals
          li
            a(href="javascript:void(0);") About
          li
            a(href="javascript:void(0);") Contact
      .header-action
        .header-search
          span.header-search__icon
          form.header-search__form
            input(type="text")
        .header-user
          span.header-user__icon
        .header-basket
          span.header-basket__icon
          span.header-basket__number 5    





