footer 
  background-color #fff
  padding 85px 0
  .container
    overflow hidden

.footer-logo
  display inline-block
  vertical-align top
  margin-right 180px

.footer-logo__img
  display block
  margin-bottom 25px

.footer-copyright
  display block
  font-weight bold

.footer-nav
  display inline-block
  vertical-align top

.footer-nav__list
  display inline-block
  vertical-align top
  margin-right 80px
  &:last-child
    margin-right 0
  li
    margin-bottom 20px
    list-style-type disc
    &:last-child
      margin-right 0      
  a
    font-weight bold
    &:hover
      color orangeColor


.footer-pay
  float right
  span
    display block
    font-weight bold
    color orangeColor
    font-size 1.143rem
    margin-bottom 30px










