@import '../libs/normalize/normalize.css'
@import '../libs/magnific/magnific-popup.css'
@import '../libs/bxslider/jquery.bxslider.css'
@import '../libs/animate/animate.css'
@import '../libs/slick/slick.css'
@import '../libs/slick/slick-theme.css'

.index-slider,
.product-item__second
  .bx-wrapper
    margin-bottom 0
    .bx-viewport
      left 0
      box-shadow none
      background none
      border none

.product-item__second
  .bx-wrapper
    margin-bottom 40px