$s-cart = 0px 0px 0px 0px 22px 21px 117px 85px 'sprite.png';
$s-fb = 105px 53px -105px -53px 6px 11px 117px 85px 'sprite.png';
$s-google = 39px 36px -39px -36px 14px 13px 117px 85px 'sprite.png';
$s-header_busket = 0px 36px 0px -36px 24px 17px 117px 85px 'sprite.png';
$s-header_phone = 105px 0px -105px 0px 12px 12px 117px 85px 'sprite.png';
$s-header_search = 72px 0px -72px 0px 18px 18px 117px 85px 'sprite.png';
$s-header_user = 37px 0px -37px 0px 20px 21px 117px 85px 'sprite.png';
$s-instagram = 105px 27px -105px -27px 11px 11px 117px 85px 'sprite.png';
$s-like = 34px 68px -34px -68px 19px 16px 117px 85px 'sprite.png';
$s-mail = 72px 33px -72px -33px 18px 11px 117px 85px 'sprite.png';
$s-share = 0px 68px 0px -68px 19px 17px 117px 85px 'sprite.png';
$s-tw = 68px 68px -68px -68px 14px 13px 117px 85px 'sprite.png';
