//  цвета

lightGrayColor = #e6e8eb
orangeColor = #ff5912
blueColor = #34404b
mainBgColor = #f4f6f8
lightBorderColor = #eaedef

// цвета шрифта

mainFontColor = #34404b
lightBlueColor = #495662

// шрифты

mainFont = "OpenSansRegular",Arial,sans-serif
boldFont = "OpenSansBold",Arial,sans-serif
extraBoldFont = "OpenSansExtraBold",Arial,sans-serif
italicFont = "OpenSansItalic",Arial,sans-serif